<h1>INDEX</h1>


<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra interdum sollicitudin. Duis ornare erat ac nulla tempor, id semper elit laoreet. Sed velit elit, fermentum vel porta ac, egestas non urna. Ut enim lorem, vehicula ac tristique eget, hendrerit maximus nibh. Nunc at sollicitudin magna. Fusce sit amet dignissim lacus. Ut scelerisque neque quis vehicula volutpat. Quisque non justo varius nunc scelerisque lacinia. Duis in ullamcorper mauris, eget sollicitudin libero. Maecenas in justo blandit velit auctor consequat. Phasellus auctor rutrum scelerisque. In lobortis nec tortor eu efficitur. Integer lacus purus, accumsan eu arcu sit amet, tempor sagittis nunc. Vestibulum et quam in turpis pellentesque dapibus. Nam quis nibh feugiat, suscipit sem in, scelerisque quam.
</p>

<p>
  HOW THIS WORKS:
  blah blah blah
</p>

<!-- insert map of us states -->


<h2>Let's start vote-trading!</h2>
<form action="/voters" method="POST" id="main-form">
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  <div id="form-part1">
    <label>I don't want Trump to win, but I want to vote for </label>
    <br/>
    <input type="radio" name="desired_candidate" value="johnson"> Gary Johnson <br/>
    <input type="radio" name="desired_candidate" value="stein"> Jill Stein <br/>
    <input type="radio" name="desired_candidate" value="hillary"> Hillary Clinton <br/>
  </div>
  

  <div id="form-part2">
    <p class="message"></p>

    <label> I live in:
      <select name="user_state">
        <option value="">Select State</option>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AR">AR</option>
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GL</option>
        <option value="HA">HA</option>
        <option value="IA">IA</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MD</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MO">MO</option>
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VA">VA</option>
        <option value="VT">VT</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>
        <option value="WV">WV</option>
        <option value="WY">WY</option>
      </select>
    </label>
  </div>

  <h3 id="message-to-user"></h3>

  <div id="form-part3">
    <label>My email is:
      <input type="email" name="email" placeholder="email" required>
    </label>
  </div>

  <button id="btn-submit">Submit</button>
</form>



<h1>Match!</h1>
<form action="/match" action="GET">
  <button>GO MATCH!</button>
</form>


<script>



</script>