    <div>
        <label>Swing 3p Voters</label>
        <span><%= @swing_3P_voters.count %></span>
    </div>        
    
    <div>
        <label>Solid Hillary Voters</label>
        <span><%= @solid_hillary_voters.count %></span>
    </div>