<h1>Thank you!</h1>

<p>We've received your info, and will be connecting you with another voter shortly so you can trade votes and help keep Trump out of the White House, while simultaneously safely supporting 3rd party candidates!</p>

<h3>Please note: You still have to VOTE on the actual Election day (Nov 8th, 2016)</h3>
<p>This is only a tool for connecting people with the common interest of defeating Donald Trump.</p>